
@{
    Layout = null;
}


<!DOCTYPE html>
<html>
<title>W3.CSS</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

<link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />

<body>

    <!-- Sidebar -->
    <div class="w3-sidebar w3-light-grey w3-bar-block" style="width:15%">
        <h3 class="w3-bar-item">Menüler</h3>
        <a href="/Default/Index/" class="w3-bar-item w3-button">Birimler</a>
        <a href="/Personelim/Index/" class="w3-bar-item w3-button">Personeller</a>
        <a href="#" class="w3-bar-item w3-button">Hakkımzda</a>
        <a href="#" class="w3-bar-item w3-button">Çıkış</a>

    </div>

    <!-- Page Content -->
    <div style="margin-left:15%">

        <div class="w3-container w3-teal">
            <h1>Asp.Net Core Mvc Proje Geliştirme</h1>
        </div>


        <div class="w3-container">
            @RenderBody()
        </div>

    </div>

</body>
</html>

